<div class="header-container main-header">
<div class="navigation-bar">
    <div class="logo">
        <a class="desktop-logo" href="/"><img src="{{theme-setting "theme_uploads.desktop-logo"}}" alt="Discourse.Pub logo" /></a>
        <a class="mobile-logo" href="/"><img src="{{theme-setting "theme_uploads.mobile-logo"}}" alt="Discourse.Pub logo" /></a>
    </div>
    <div class="links-section">
        <nav class="header-menu"><ul id="menu-header" class="menu"><li class="learning-resource menu-item-learning-resource menu-item"><a data-text="Learning resources"><div class="menu-link-content">Learning resources<img class="menu-arrow-icon" src="{{theme-setting "theme_uploads.arrow"}}"></div></a>
            <ul class="sub-menu">
            	<li class="menu-item-title menu-item"><a data-text="What&#039;s your favorite way to learn?"><div class="menu-link-content">What&#8217;s your favorite way to learn?<img class="menu-arrow-icon" src="{{theme-setting "theme_uploads.arrow"}}"></div></a></li>
            	<li class="menu-item-academy menu-item"><a href="https://monday.com/helpcenter/academy" data-text="Academy"><div class="menu-link-content"><div class="sub-menu-link-section"><img alt="Menu item icon" class="menu-item-icon" src="{{theme-setting "theme_uploads.academy"}}" /><div class="sub-menu-link-title">Academy</div></div><div class="sub-menu-link-subtitle">Interactive courses and webinars that will make you an expert</div><img class="menu-arrow-icon" src="{{theme-setting "theme_uploads.arrow"}}"></div></a></li>
            	<li class="menu-item-knowledge-base menu-item"><a href="https://support.monday.com/hc/en-us/articles/360003522920-Knowledge" data-text="Knowledge Base"><div class="menu-link-content"><div class="sub-menu-link-section"><img alt="Menu item icon" class="menu-item-icon" src="{{theme-setting "theme_uploads.kb"}}" /><div class="sub-menu-link-title">Knowledge Base</div></div><div class="sub-menu-link-subtitle">Articles that dive into the details</div><img class="menu-arrow-icon" src="{{theme-setting "theme_uploads.arrow"}}"></div></a></li>
            	<li class="menu-item-videos-tutorials menu-item"><a href="https://www.youtube.com/c/mondaydotcom/featured" data-text="Video Tutorials"><div class="menu-link-content"><div class="sub-menu-link-section"><img alt="Menu item icon" class="menu-item-icon" src="{{theme-setting "theme_uploads.yt"}}" /><div class="sub-menu-link-title">Video Tutorials</div></div><div class="sub-menu-link-subtitle">Short videos that show you how it&#8217;s done</div><img class="menu-arrow-icon" src="{{theme-setting "theme_uploads.arrow"}}"></div></a></li>
            	<li class="menu-item-api-docs menu-item"><a href="https://developer.monday.com/apps/docs" data-text="API Documentation"><div class="menu-link-content"><div class="sub-menu-link-section"><img alt="Menu item icon" class="menu-item-icon" src="{{theme-setting "theme_uploads.docs"}}" /><div class="sub-menu-link-title">API Documentation</div></div><div class="sub-menu-link-subtitle">Technical documentation that gives you the control</div><img class="menu-arrow-icon" src="{{theme-setting "theme_uploads.arrow"}}"></div></a></li>
            </ul>
        </li>
        <li class="menu-item menu-item-type-custom"><a href="/categories" data-text="Community"><div class="menu-link-content">Community<img class="menu-arrow-icon" src="{{theme-setting "theme_uploads.arrow"}}"></div></a></li>
        <li class="menu-item-contact-support menu-item"><a href="https://monday.com/helpcenter/contact-support" data-text="Contact Support"><div class="menu-link-content">Contact Support<img class="menu-arrow-icon" src="{{theme-setting "theme_uploads.arrow"}}"></div></a></li>
        <li class="menu-item-contact-sales menu-item"><a href="https://monday.com/sales/contact-us?from=header&#038;source=Website%20-%20Contact%20Sales" data-text="Contact sales"><div class="menu-link-content">Contact sales<img class="menu-arrow-icon" src="{{theme-setting "theme_uploads.arrow"}}"></div></a></li>
        <li class="menu-item-visit-monday menu-item"><a href="https://monday.com/" data-text="visit monday.com"><div class="menu-link-content"><div class="sub-menu-link-section"><img alt="Menu item icon" class="menu-item-icon" src="{{theme-setting "theme_uploads.visit-monday-arrow"}}" /><div class="sub-menu-link-title">visit monday.com</div></div><div class="sub-menu-link-subtitle"></div><img class="menu-arrow-icon" src="{{theme-setting "theme_uploads.arrow"}}"></div></a></li>
        </ul></nav>
    </div>
</div>
</div>
